head,
html,
body {
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
}

body {
    overflow: hidden;
}

#desmos {
    width: 100vw;
    height: 100vh;
    /* width: 400px; */
    /* height: 572px; */
    border: none;
}